<%- include ('layouts/header') -%>
<div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar static-top shadow">

            <!-- Sidebar Toggle (Topbar) -->
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                <i class="fa fa-bars"></i>
            </button>

            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">
                <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                <li class="nav-item dropdown no-arrow d-sm-none">
                    <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-search fa-fw"></i>
                    </a>
                </li>
                <!-- Nav Item - User Information -->
                <li class="nav-item dropdown no-arrow">
                    <!-- Dropdown - User Information -->
                        <a class="btn btn-item" href="login">
                            Login
                        </a>
                </li>
            </ul>
        </nav>
    
    <div class="text-light header-content d-flex flex-column align-items-center justify-content-center" style="background-image: url('../public/img/header-background.png');height: 646px;">
        <h1 align="center"><b>SELAMAT DATANG<br> DI WEBSITE BSU<br> TERATAI PAMPANG</br></h1>
        <h3>SAMPAH ANDA AKAN LEBIH BERGUNA</h3>
    </div>
    <div class="container-fluid mt-4 bg-light "style="color:black; text-align:justify">
        <div class="main-question d-flex bg-white">
            <img class="p-5" src="../public/img/character-with-question-mark.png" alt="">
            <div class="question1 p-5">
                <h2 style="font-size:32px"><b>Kenapa Harus Bank Sampah?</b></h2>
                <p style="font-size:20px">Bank sampah adalah salah satu cara untuk menangani masalah sampah di lingkungan kita. Dengan mengumpulkan sampah pada bank sampah, kita dapat membantu mengurangi jumlah sampah yang tersebar di lingkungan sekitar kita, serta mengurangi risiko terjadinya dampak negatif dari sampah bagi lingkungan dan kesehatan manusia. Selain itu, dengan mengumpulkan sampah pada bank sampah, kita juga dapat membantu meningkatkan kesadaran masyarakat tentang pentingnya pengelolaan sampah secara bertanggung jawab.</p>
                
                <h2 style="font-size:32px"><b>Bagaimana Cara Memanfaatkannya?</b></h2>
                <p style="font-size:20px">Bank sampah adalah salah satu cara untuk menangani masalah sampah di lingkungan kita. Dengan mengumpulkan sampah pada bank sampah, kita dapat membantu mengurangi jumlah sampah yang tersebar di lingkungan sekitar kita, serta mengurangi risiko terjadinya dampak negatif dari sampah bagi lingkungan dan kesehatan manusia. Selain itu, dengan mengumpulkan sampah pada bank sampah, kita juga dapat membantu meningkatkan kesadaran masyarakat tentang pentingnya pengelolaan sampah secara bertanggung jawab.</p>
            </div>
        </div>
        <div class="alur-setor-sampah d-flex align-items-center justify-content-center" style="height:148px">
            <h1><b>Langkah Mudah Menyetor ke Bank Sampah</b></h1>
        </div>
        <div class="langkah-langkah bg-white d-flex align-items-center justify-content-center" style="height:460px">
            <div class="gambar-alur">
                <img src="../public/img/alur-setor-sampah.png" alt="">
            </div>
        </div>
    </div>
    <%- include ('layouts/footer') -%>